In [1]:
import pandas as pd
import numpy as np
import seaborn as sns
import statsmodels.api as sm
import matplotlib.pyplot as plt
from matplotlib import pyplot as plt

In [2]:
pd.options.display.max_rows = 50
pd.set_option('display.max_columns', None)
pd.set_option('display.width', 1000)

# Import Pre Survey Data for Individual Analysis

In [3]:
predf = pd.read_excel('/Users/shanicejerriho/Documents/PreSurvey.xlsx', header=0)

In [4]:
predf.rename(columns = {'Start Date': 'Pre Start Date', 'End Date':'Pre End Date', 'Please indicate how much you agree with each of the following statements: - I feel certain about my ability to get the job I want':'Pre Job Ability Certainty', 'Please indicate how much you agree with each of the following statements: - I have what it takes to get a good job':'Pre Job Getting Confidence', 'Please indicate how much you agree with each of the following statements: - I am certain that my job search will be successful':'Pre Successful Job Search Certainty', 'How many extracurricular organizations are you currently involved with?': 'Pre Extracirrcular Organizations', 'Do you hold leadership positions in any of these organizations? If so, in how many?':'Pre Leadership Positions', 'How many internships or co-ops have you had since beginning college?':'Pre Internships CoOps'}, inplace = True)

In [5]:
predf.columns = [i.replace(' ', '_') for i in predf.columns]

In [6]:
predf['Pre_SurveyDuration'] = predf['Pre_End_Date'] - predf['Pre_Start_Date']
# predf['Pre_SurveyDuration']=predf['Pre_SurveyDuration']/np.timedelta64(1,'m')

In [7]:
predf.shape

(246, 11)

In [8]:
predf.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 246 entries, 0 to 245
Data columns (total 11 columns):
 #   Column                               Non-Null Count  Dtype
---  ------                               --------------  -----
 0   ID                                   246 non-null    int64
 1   Pre_Start_Date                       246 non-null    datetime64[ns]
 2   Pre_End_Date                         246 non-null    datetime64[ns]
 3   Duration_(in_seconds)                246 non-null    int64
 4   Pre_Job_Ability_Certainty            246 non-null    object
 5   Pre_Job_Getting_Confidence           246 non-null    object
 6   Pre_Successful_Job_Search_Certainty  246 non-null    object
 7   Pre_Extracirrcular_Organizations     246 non-null    int64
 8   Pre_Leadership_Positions             246 non-null    int64
 9   Pre_Internships_CoOps                246 non-null    int64
 10  Pre_SurveyDuration                   246 non-null    timedelta64[ns]
dtypes: datetime64[ns](2), int64(5), object(3), timedelta64[ns](1)
memory usage: 21.3+ KB

In [9]:
predf.isnull().sum()

ID                                     0
Pre_Start_Date                         0
Pre_End_Date                           0
Duration_(in_seconds)                  0
Pre_Job_Ability_Certainty              0
Pre_Job_Getting_Confidence             0
Pre_Successful_Job_Search_Certainty    0
Pre_Extracirrcular_Organizations       0
Pre_Leadership_Positions               0
Pre_Internships_CoOps                  0
Pre_SurveyDuration                     0
dtype: int64

In [10]:
# Unique Values of Each Column 

# for col, values in predf.iteritems():
#     num_uniques = values.nunique()
#     print ('{name}: {num_unique}'.format(name=col, num_unique=num_uniques))
#     print (values.unique())
#     print ('\n')

In [11]:
predf.describe()

               ID  Duration_(in_seconds)  Pre_Extracirrcular_Organizations  Pre_Leadership_Positions  Pre_Internships_CoOps          Pre_SurveyDuration
count  246.000000           2.460000e+02                        246.000000                246.000000             246.000000                         246
mean   145.471545           3.896721e+05                          0.947154                  0.235772               0.414634   4 days 12:13:34.040650406
std     81.204587           1.451801e+06                          1.242632                  0.550789               0.760524  16 days 19:09:34.512496745
min      1.000000           3.210000e+02                          0.000000                  0.000000               0.000000             0 days 00:05:22
25%     78.250000           9.950000e+02                          0.000000                  0.000000               0.000000      0 days 00:16:35.250000
50%    147.500000           7.851000e+03                          1.000000                  0.000000               0.000000             0 days 02:10:52
75%    215.750000           4.802012e+05                          2.000000                  0.000000               1.000000             5 days 13:23:22
max    284.000000           1.365769e+07                          7.000000                  3.000000               4.000000           158 days 00:48:06

In [12]:
predf["Duration_(in_seconds)"].describe().apply(lambda x: format(x, 'f'))

count         246.000000
mean       389672.052846
std       1451800.813124
min           321.000000
25%           995.000000
50%          7851.000000
75%        480201.250000
max      13657686.000000
Name: Duration_(in_seconds), dtype: object

# Frequencies

In [13]:
# Conduct Frequency of Occurence and Percentages for Multiple Categories
Frequency = predf.Pre_Job_Ability_Certainty.value_counts().rename_axis('I Have the Ability to Get the Job I Want').reset_index(name='Frequency')
Frequency['Percentage of Occurrence'] = (Frequency['Frequency'] / 
                  Frequency['Frequency'].sum()) * 100
Frequency.round(1)

  I Have the Ability to Get the Job I Want  Frequency  Percentage of Occurrence
0                                    Agree         67                      27.2
1                         Moderately Agree         63                      25.6
2                                  Neutral         52                      21.1
3                           Strongly agree         22                       8.9
4                      Moderately Disagree         18                       7.3
5                                 Disagree         15                       6.1
6                        Strongly Disagree          9                       3.7

In [14]:
# Of a chosen group... how many people have extracirrculars, hold leadership positions, or internships/coops?

In [15]:
Frequency2 = predf.Pre_Job_Getting_Confidence.value_counts().rename_axis('I Have What it Takes to Get a Good Job ').reset_index(name='Frequency')
Frequency2['Percentage of Occurrence'] = (Frequency2['Frequency'] / 
                  Frequency2['Frequency'].sum()) * 100
Frequency2.round(1)

  I Have What it Takes to Get a Good Job   Frequency  Percentage of Occurrence
0                                   Agree         70                      28.5
1                        Moderately Agree         62                      25.2
2                          Strongly agree         49                      19.9
3                                 Neutral         38                      15.4
4                     Moderately Disagree         15                       6.1
5                       Strongly Disagree          7                       2.8
6                                Disagree          5                       2.0

In [16]:
# Of a chosen group... how many people have extracirrculars, hold leadership positions, or internships/coops?

In [17]:
Frequency3 = predf.Pre_Successful_Job_Search_Certainty.value_counts().rename_axis('Im Certain that My Job Search Will be Successful ').reset_index(name='Frequency')
Frequency3['Percentage of Occurrence'] = (Frequency3['Frequency'] / 
                  Frequency3['Frequency'].sum()) * 100
Frequency3.round(1)

  Im Certain that My Job Search Will be Successful   Frequency  Percentage of Occurrence
0                                  Moderately Agree         63                      25.6
1                                           Neutral         60                      24.4
2                                             Agree         60                      24.4
3                                    Strongly agree         34                      13.8
4                               Moderately Disagree         14                       5.7
5                                 Strongly Disagree          8                       3.3
6                                          Disagree          7                       2.8

In [18]:
# Of a chosen group... how many people have extracirrculars, hold leadership positions, or internships/coops?

In [19]:
Frequency4 = predf.Pre_Extracirrcular_Organizations.value_counts().rename_axis('Extracirrcular Organizations').reset_index(name='Frequency')
Frequency4['Percentage of Occurrence'] = (Frequency4['Frequency'] / 
                  Frequency4['Frequency'].sum()) * 100
Frequency4.round(1)

   Extracirrcular Organizations  Frequency  Percentage of Occurrence
0                             0        122                      49.6
1                             1         61                      24.8
2                             2         34                      13.8
3                             3         19                       7.7
4                             4          6                       2.4
5                             5          2                       0.8
6                             7          1                       0.4
7                             6          1                       0.4

In [20]:
Frequency5 = predf.Pre_Leadership_Positions.value_counts().rename_axis('Amount of Leadership Positions ').reset_index(name='Frequency')
Frequency5['Percentage of Occurrence'] = (Frequency5['Frequency'] / 
                  Frequency5['Frequency'].sum()) * 100
Frequency5.round(1)

   Amount of Leadership Positions   Frequency  Percentage of Occurrence
0                                0        201                      81.7
1                                1         34                      13.8
2                                2          9                       3.7
3                                3          2                       0.8

In [21]:
Frequency6 = predf.Pre_Internships_CoOps.value_counts().rename_axis('Invested Internships/CoOps').reset_index(name='Frequency')
Frequency6['Percentage of Occurrence'] = (Frequency6['Frequency'] / 
                  Frequency6['Frequency'].sum()) * 100
Frequency6.round(1)

   Invested Internships/CoOps  Frequency  Percentage of Occurrence
0                           0        176                      71.5
1                           1         46                      18.7
2                           2         17                       6.9
3                           3          6                       2.4
4                           4          1                       0.4

# Time Series

In [22]:
# Earliest Survey Taken Was August 24th 2019
predf.Pre_Start_Date.min()

Timestamp('2019-08-24 13:25:56')

In [23]:
# Latest Time a Survey Started  
predf.Pre_Start_Date.max()

Timestamp('2019-09-24 15:51:03')

In [24]:
# Lastest Time Survey Submitted/Completed On February 20th 2020
predf.Pre_End_Date.max()

Timestamp('2020-02-02 16:26:54')

In [25]:
# EarliestTime Survey Submitted/Completed 
predf.Pre_End_Date.min()

Timestamp('2019-08-24 14:23:17')

In [26]:
SurveyTimes = predf.groupby(['Pre_Start_Date'])['ID'].count().reset_index()

#

#

# Import Post Survey Data for Individual Analysis

In [27]:
postdf = pd.read_excel('/Users/shanicejerriho/Documents/PostSurvey.xlsx', header=0)

In [28]:
postdf.columns = postdf.columns.str.replace("'"," ")

In [29]:
postdf.rename(columns = {'Start Date': 'Post Start Date', 'End Date':'Post End Date', 'Duration (in seconds)':'Post Duration (in seconds)', 'How likely would you be to recommend Braven to a friend?': 'Likelihood of Recommendation', 'Braven was one of the most valuable personal or professional development experiences I ve ever had.':'Valuable Professional PersonalDevelopment Experience', 'Please indicate how much you agree with each of the following statements: - I see Braven as more than just a course; I feel like I am part of a broader movement.':'Braven More Than a Course Perception', 'Please indicate how much you agree with each of the following statements: - I have a mentor who encourages my goals and dreams.':'Mentor Goals Dreams Encouragement', 'On average, how much time did you spend completing Braven-related work compared to your other courses every week?':'Braven Coursework Time Completion', 'How challenging was the work you completed for Braven compared to the work you complete in your other courses?':'Braven Coursework Complexity', 'What is your major?':'College Major', 'Please indicate how much you agree with each of the following statements: - I feel certain about my ability to get the job I want':'Post Job Ability Certainty', 'Please indicate how much you agree with each of the following statements: - I have what it takes to get a good job':'Post Job Getting Confidence', 'Please indicate how much you agree with each of the following statements: - I am certain that my job search will be successful':'Post Successful Job Search Certainty'}, inplace = True)

In [30]:
postdf.columns = [i.replace(' ', '_') for i in postdf.columns]

In [31]:
postdf['Post_SurveyDuration'] = postdf['Post_End_Date'] - postdf['Post_Start_Date']
# postdf['Post_SurveyDuration']=postdf['Post_SurveryDuration']/np.timedelta64(1,'m')

In [32]:
postdf.shape

(239, 16)

In [33]:
postdf.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 239 entries, 0 to 238
Data columns (total 16 columns):
 #   Column                                                Non-Null Count  Dtype
---  ------                                                --------------  -----
 0   ID                                                    239 non-null    int64
 1   Site                                                  239 non-null    object
 2   Post_Start_Date                                       239 non-null    datetime64[ns]
 3   Post_End_Date                                         239 non-null    datetime64[ns]
 4   Post_Duration_(in_seconds)                            239 non-null    int64
 5   Likelihood_of_Recommendation                          239 non-null    int64
 6   Valuable_Professional_PersonalDevelopment_Experience  239 non-null    object
 7   Braven_More_Than_a_Course_Perception                  239 non-null    object
 8   Mentor_Goals_Dreams_Encouragement                     239 non-null    object
 9   Braven_Coursework_Time_Completion                     239 non-null    object
 10  Braven_Coursework_Complexity                          239 non-null    object
 11  College_Major                                         239 non-null    object
 12  Post_Job_Ability_Certainty                            239 non-null    object
 13  Post_Job_Getting_Confidence                           239 non-null    object
 14  Post_Successful_Job_Search_Certainty                  239 non-null    object
 15  Post_SurveyDuration                                   239 non-null    timedelta64[ns]
dtypes: datetime64[ns](2), int64(3), object(10), timedelta64[ns](1)
memory usage: 30.0+ KB

In [34]:
postdf.isnull().sum()

ID                                                      0
Site                                                    0
Post_Start_Date                                         0
Post_End_Date                                           0
Post_Duration_(in_seconds)                              0
Likelihood_of_Recommendation                            0
Valuable_Professional_PersonalDevelopment_Experience    0
Braven_More_Than_a_Course_Perception                    0
Mentor_Goals_Dreams_Encouragement                       0
Braven_Coursework_Time_Completion                       0
Braven_Coursework_Complexity                            0
College_Major                                           0
Post_Job_Ability_Certainty                              0
Post_Job_Getting_Confidence                             0
Post_Successful_Job_Search_Certainty                    0
Post_SurveyDuration                                     0
dtype: int64

In [35]:
# Unique Values of Each Column 

# for col, values in postdf.iteritems():
#     num_uniques = values.nunique()
#     print ('{name}: {num_unique}'.format(name=col, num_unique=num_uniques))
#     print (values.unique())
#     print ('\n')

In [36]:
postdf.describe()

               ID  Post_Duration_(in_seconds)  Likelihood_of_Recommendation        Post_SurveyDuration
count  239.000000                  239.000000                    239.000000                        239
mean   145.489540                32324.384937                      8.288703  0 days 08:58:44.933054393
std     82.363963               102311.184679                      2.259508  1 days 04:25:11.171729398
min      1.000000                  216.000000                      0.000000            0 days 00:03:36
25%     74.500000                  767.500000                      7.000000            0 days 00:12:48
50%    146.000000                 1114.000000                      9.000000            0 days 00:18:35
75%    216.500000                 2498.500000                     10.000000            0 days 00:41:39
max    284.000000               604190.000000                     10.000000            6 days 23:49:51

# Frequencies

In [37]:
# Conduct Frequency of Occurence and Percentages for Multiple Categories

Frequency7 = postdf.Post_Job_Ability_Certainty.value_counts().rename_axis('I Have the Ability to Get the Job I Want').reset_index(name='Frequency')
Frequency7['Percentage of Occurrence'] = (Frequency7['Frequency'] / 
                  Frequency7['Frequency'].sum()) * 100
Frequency7.round(1)

  I Have the Ability to Get the Job I Want  Frequency  Percentage of Occurrence
0                                    Agree         76                      31.8
1                           Strongly agree         67                      28.0
2                         Moderately Agree         57                      23.8
3                                  Neutral         24                      10.0
4                      Moderately Disagree         10                       4.2
5                        Strongly Disagree          3                       1.3
6                                 Disagree          2                       0.8

In [38]:
Frequency8 = postdf.Post_Job_Getting_Confidence.value_counts().rename_axis('I Have What It Takes to Get a Good Job ').reset_index(name='Frequency')
Frequency8['Percentage of Occurrence'] = (Frequency8['Frequency'] / 
                  Frequency8['Frequency'].sum()) * 100
Frequency8.round(1)

  I Have What It Takes to Get a Good Job   Frequency  Percentage of Occurrence
0                          Strongly agree         98                      41.0
1                                   Agree         72                      30.1
2                        Moderately Agree         43                      18.0
3                                 Neutral         17                       7.1
4                     Moderately Disagree          7                       2.9
5                                Disagree          1                       0.4
6                       Strongly Disagree          1                       0.4

In [39]:
Frequency9 = postdf.Post_Successful_Job_Search_Certainty.value_counts().rename_axis('Im Certain that My Job Search Will Be Successful ').reset_index(name='Frequency')
Frequency9['Percentage of Occurrence'] = (Frequency9['Frequency'] / 
                  Frequency9['Frequency'].sum()) * 100
Frequency9.round(1)

  Im Certain that My Job Search Will Be Successful   Frequency  Percentage of Occurrence
0                                    Strongly agree         89                      37.2
1                                             Agree         78                      32.6
2                                  Moderately Agree         34                      14.2
3                                           Neutral         30                      12.6
4                               Moderately Disagree          6                       2.5
5                                          Disagree          1                       0.4
6                                 Strongly Disagree          1                       0.4

In [40]:
Frequency10 = postdf.Likelihood_of_Recommendation.value_counts().rename_axis('Rating - Likelihood of Recommending Braven').reset_index(name='Frequency')
Frequency10['Percentage of Occurrence'] = (Frequency10['Frequency'] / 
                  Frequency10['Frequency'].sum()) * 100
Frequency10.round(1)

    Rating - Likelihood of Recommending Braven  Frequency  Percentage of Occurrence
0                                           10        106                      44.4
1                                            8         36                      15.1
2                                            9         33                      13.8
3                                            7         27                      11.3
4                                            5         11                       4.6
5                                            6         10                       4.2
6                                            4          4                       1.7
7                                            2          4                       1.7
8                                            0          4                       1.7
9                                            3          2                       0.8
10                                           1          2                       0.8

In [41]:
Frequency11 = postdf.Valuable_Professional_PersonalDevelopment_Experience.value_counts().rename_axis('Received Valuable Professional/Personal Development').reset_index(name='Frequency')
Frequency11['Percentage of Occurrence'] = (Frequency11['Frequency'] / 
                  Frequency11['Frequency'].sum()) * 100
Frequency11.round(1)

  Received Valuable Professional/Personal Development  Frequency  Percentage of Occurrence
0                                     Strongly agree          90                      37.7
1                                              Agree          65                      27.2
2                                   Moderately agree          48                      20.1
3                                            Neutral          17                       7.1
4                                           Disagree           9                       3.8
5                                  Strongly Disagree           6                       2.5
6                                Moderately disagree           4                       1.7

In [42]:
Frequency12 = postdf.Braven_More_Than_a_Course_Perception.value_counts().rename_axis('Believes Braven is More Than a Course').reset_index(name='Frequency')
Frequency12['Percentage of Occurrence'] = (Frequency12['Frequency'] / 
                  Frequency12['Frequency'].sum()) * 100
Frequency12.round(1)

  Believes Braven is More Than a Course  Frequency  Percentage of Occurrence
0                        Strongly agree         81                      33.9
1                                 Agree         63                      26.4
2                      Moderately agree         45                      18.8
3            Neither agree nor disagree         24                      10.0
4                   Moderately disagree         12                       5.0
5                              Disagree          8                       3.3
6                     Strongly Disagree          6                       2.5

In [43]:
Frequency13 = postdf.Mentor_Goals_Dreams_Encouragement.value_counts().rename_axis('Mentor Encourages Goals and Dreams').reset_index(name='Frequency')
Frequency13['Percentage of Occurrence'] = (Frequency13['Frequency'] / 
                  Frequency13['Frequency'].sum()) * 100
Frequency13.round(1)

  Mentor Encourages Goals and Dreams  Frequency  Percentage of Occurrence
0                     Strongly agree         96                      40.2
1                              Agree         68                      28.5
2                   Moderately agree         34                      14.2
3         Neither agree nor disagree         23                       9.6
4                           Disagree         10                       4.2
5                Moderately disagree          4                       1.7
6                  Strongly Disagree          4                       1.7

In [44]:
Frequency14 = postdf.Braven_Coursework_Time_Completion.value_counts().rename_axis('Average Time to Complete Coursework ').reset_index(name='Frequency')
Frequency14['Percentage of Occurrence'] = (Frequency14['Frequency'] / 
                  Frequency14['Frequency'].sum()) * 100
Frequency14.round(1)

  Average Time to Complete Coursework   Frequency  Percentage of Occurrence
0     Somewhat more than other courses         74                      31.0
1      About the same as other courses         67                      28.0
2     Somewhat less than other courses         44                      18.4
3          Far more than other courses         41                      17.2
4          Far less than other courses         13                       5.4

In [45]:
Frequency15 = postdf.Braven_Coursework_Complexity.value_counts().rename_axis('Coursework Complexity').reset_index(name='Frequency')
Frequency15['Percentage of Occurrence'] = (Frequency15['Frequency'] / 
                  Frequency15['Frequency'].sum()) * 100
Frequency15.round(1)

                          Coursework Complexity  Frequency  Percentage of Occurrence
0               About the same as other courses         77                      32.2
1  Somewhat more challenging than other courses         57                      23.8
2  Somewhat less challenging than other courses         53                      22.2
3       Far less challenging than other courses         38                      15.9
4       Far more challenging than other courses         14                       5.9

In [46]:
Frequency16 = postdf.College_Major.value_counts().rename_axis('College Major').reset_index(name='Frequency')
Frequency16['Percentage of Occurrence'] = (Frequency16['Frequency'] / 
                  Frequency16['Frequency'].sum()) * 100
Frequency16.round(1)

                             College Major  Frequency  Percentage of Occurrence
0                               Psychology         22                       9.2
1   Business Management And Administration         22                       9.2
2                           Communications         17                       7.1
3                   Other [please specify]         17                       7.1
4                                  Biology         15                       6.3
..                                     ...        ...                       ...
46                  Electrical Engineering          1                       0.4
47                             Social Work          1                       0.4
48                    Chemical Engineering          1                       0.4
49                               Chemistry          1                       0.4
50                  Hospitality Management          1                       0.4

[51 rows x 3 columns]

# Time Series

In [47]:
# First Post Survey Started/Taken December 10th 2019
postdf.Post_Start_Date.min()

Timestamp('2019-12-10 18:01:41')

In [48]:
# Last Post Survey Started/Taken 
postdf.Post_Start_Date.max()

Timestamp('2019-12-20 11:10:33')

In [49]:
# First Post Survey Completed/Submitted
postdf.Post_End_Date.min()

Timestamp('2019-12-10 18:08:54')

In [50]:
# lAST Post Survey Completed/Submitted December 20th 2019
postdf.Post_End_Date.max()

Timestamp('2019-12-20 12:30:33')

##

##

## Join Both Pre- and Post-Survey Datasets

In [51]:
# Merge Data via Outer Join to Include Rows from Both Tables Despite NaNs

# Left Table - Predf - Before Survey
# Right Table - Postdf - After Survey
merged = pd.merge(predf, postdf, on='ID', how='outer',indicator=True)

In [52]:
merged.shape

(283, 27)

In [53]:
merged.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 283 entries, 0 to 282
Data columns (total 27 columns):
 #   Column                                                Non-Null Count  Dtype
---  ------                                                --------------  -----
 0   ID                                                    283 non-null    int64
 1   Pre_Start_Date                                        246 non-null    datetime64[ns]
 2   Pre_End_Date                                          246 non-null    datetime64[ns]
 3   Duration_(in_seconds)                                 246 non-null    float64
 4   Pre_Job_Ability_Certainty                             246 non-null    object
 5   Pre_Job_Getting_Confidence                            246 non-null    object
 6   Pre_Successful_Job_Search_Certainty                   246 non-null    object
 7   Pre_Extracirrcular_Organizations                      246 non-null    float64
 8   Pre_Leadership_Positions                              246 non-null    float64
 9   Pre_Internships_CoOps                                 246 non-null    float64
 10  Pre_SurveyDuration                                    246 non-null    timedelta64[ns]
 11  Site                                                  239 non-null    object
 12  Post_Start_Date                                       239 non-null    datetime64[ns]
 13  Post_End_Date                                         239 non-null    datetime64[ns]
 14  Post_Duration_(in_seconds)                            239 non-null    float64
 15  Likelihood_of_Recommendation                          239 non-null    float64
 16  Valuable_Professional_PersonalDevelopment_Experience  239 non-null    object
 17  Braven_More_Than_a_Course_Perception                  239 non-null    object
 18  Mentor_Goals_Dreams_Encouragement                     239 non-null    object
 19  Braven_Coursework_Time_Completion                     239 non-null    object
 20  Braven_Coursework_Complexity                          239 non-null    object
 21  College_Major                                         239 non-null    object
 22  Post_Job_Ability_Certainty                            239 non-null    object
 23  Post_Job_Getting_Confidence                           239 non-null    object
 24  Post_Successful_Job_Search_Certainty                  239 non-null    object
 25  Post_SurveyDuration                                   239 non-null    timedelta64[ns]
 26  _merge                                                283 non-null    category
dtypes: category(1), datetime64[ns](4), float64(6), int64(1), object(13), timedelta64[ns](2)
memory usage: 60.1+ KB

In [54]:
merged.isnull().sum()

ID                                                       0
Pre_Start_Date                                          37
Pre_End_Date                                            37
Duration_(in_seconds)                                   37
Pre_Job_Ability_Certainty                               37
Pre_Job_Getting_Confidence                              37
Pre_Successful_Job_Search_Certainty                     37
Pre_Extracirrcular_Organizations                        37
Pre_Leadership_Positions                                37
Pre_Internships_CoOps                                   37
Pre_SurveyDuration                                      37
Site                                                    44
Post_Start_Date                                         44
Post_End_Date                                           44
Post_Duration_(in_seconds)                              44
Likelihood_of_Recommendation                            44
Valuable_Professional_PersonalDevelopment_Experience    44
Braven_More_Than_a_Course_Perception                    44
Mentor_Goals_Dreams_Encouragement                       44
Braven_Coursework_Time_Completion                       44
Braven_Coursework_Complexity                            44
College_Major                                           44
Post_Job_Ability_Certainty                              44
Post_Job_Getting_Confidence                             44
Post_Successful_Job_Search_Certainty                    44
Post_SurveyDuration                                     44
_merge                                                   0
dtype: int64

In [55]:
# Count of Non Survey Takers
# Left Table - Predf - Before Survey
# Right Table - Postdf - After Survey
merged['_merge'].value_counts()

both          202
left_only      44
right_only     37
Name: _merge, dtype: int64

## INNER JOIN

In [56]:
# INNER Join Datasets with ONLY MATCHING VALUES
result = pd.merge(predf, postdf)

In [57]:
# People Who completed both Pre and Post Accelerator Surveys
# Only 202 Participants Completed Both Surveys, 202 Records Accounts for 71.4% of the Data
result.shape

(202, 26)

In [58]:
# Identify Actual Missing Pre- and Post- Survey Participants

In [59]:
nonpostsurveytakers = predf[~predf.ID.isin(result.ID)]

In [60]:
# Amount of Pre Survey Takers Who Did Not Complete Post-Accelerator Survey
nonpostsurveytakers.shape

(44, 11)

In [61]:
nonpresurveytakers = postdf[~postdf.ID.isin(result.ID)]

In [62]:
# Amount of Post Survey Takers Who Did Not Complete Pre-Accelerator Survey
nonpresurveytakers.shape

(37, 16)

In [63]:
result.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 202 entries, 0 to 201
Data columns (total 26 columns):
 #   Column                                                Non-Null Count  Dtype
---  ------                                                --------------  -----
 0   ID                                                    202 non-null    int64
 1   Pre_Start_Date                                        202 non-null    datetime64[ns]
 2   Pre_End_Date                                          202 non-null    datetime64[ns]
 3   Duration_(in_seconds)                                 202 non-null    int64
 4   Pre_Job_Ability_Certainty                             202 non-null    object
 5   Pre_Job_Getting_Confidence                            202 non-null    object
 6   Pre_Successful_Job_Search_Certainty                   202 non-null    object
 7   Pre_Extracirrcular_Organizations                      202 non-null    int64
 8   Pre_Leadership_Positions                              202 non-null    int64
 9   Pre_Internships_CoOps                                 202 non-null    int64
 10  Pre_SurveyDuration                                    202 non-null    timedelta64[ns]
 11  Site                                                  202 non-null    object
 12  Post_Start_Date                                       202 non-null    datetime64[ns]
 13  Post_End_Date                                         202 non-null    datetime64[ns]
 14  Post_Duration_(in_seconds)                            202 non-null    int64
 15  Likelihood_of_Recommendation                          202 non-null    int64
 16  Valuable_Professional_PersonalDevelopment_Experience  202 non-null    object
 17  Braven_More_Than_a_Course_Perception                  202 non-null    object
 18  Mentor_Goals_Dreams_Encouragement                     202 non-null    object
 19  Braven_Coursework_Time_Completion                     202 non-null    object
 20  Braven_Coursework_Complexity                          202 non-null    object
 21  College_Major                                         202 non-null    object
 22  Post_Job_Ability_Certainty                            202 non-null    object
 23  Post_Job_Getting_Confidence                           202 non-null    object
 24  Post_Successful_Job_Search_Certainty                  202 non-null    object
 25  Post_SurveyDuration                                   202 non-null    timedelta64[ns]
dtypes: datetime64[ns](4), int64(7), object(13), timedelta64[ns](2)
memory usage: 42.6+ KB

In [64]:
result.isnull().sum()

ID                                                      0
Pre_Start_Date                                          0
Pre_End_Date                                            0
Duration_(in_seconds)                                   0
Pre_Job_Ability_Certainty                               0
Pre_Job_Getting_Confidence                              0
Pre_Successful_Job_Search_Certainty                     0
Pre_Extracirrcular_Organizations                        0
Pre_Leadership_Positions                                0
Pre_Internships_CoOps                                   0
Pre_SurveyDuration                                      0
Site                                                    0
Post_Start_Date                                         0
Post_End_Date                                           0
Post_Duration_(in_seconds)                              0
Likelihood_of_Recommendation                            0
Valuable_Professional_PersonalDevelopment_Experience    0
Braven_More_Than_a_Course_Perception                    0
Mentor_Goals_Dreams_Encouragement                       0
Braven_Coursework_Time_Completion                       0
Braven_Coursework_Complexity                            0
College_Major                                           0
Post_Job_Ability_Certainty                              0
Post_Job_Getting_Confidence                             0
Post_Successful_Job_Search_Certainty                    0
Post_SurveyDuration                                     0
dtype: int64

## Creating Likert Column

In [65]:
# IF/ELSE FOR PRE SURVEY STATEMENTS
def func(row):
    if row['Pre_Job_Ability_Certainty'] == 'Strongly agree':
        return '7'
    elif row['Pre_Job_Ability_Certainty'] =='Agree':
        return '6' 
    elif row['Pre_Job_Ability_Certainty'] =='Moderately Agree':
        return '5'
    elif row['Pre_Job_Ability_Certainty'] =='Neutral':
        return '4'
    elif row['Pre_Job_Ability_Certainty'] =='Moderately Disagree':
        return '3'
    elif row['Pre_Job_Ability_Certainty'] =='Disagree':
        return '2'
    elif row['Pre_Job_Ability_Certainty'] =='Strongly Disagree':
        return '1'
    else:
        return 'other'

result['NewPREJobAbility'] = result.apply(func, axis=1)

In [66]:
result['NewPREJobAbility'].value_counts()

6    54
5    52
4    43
7    20
3    17
2    12
1     4
Name: NewPREJobAbility, dtype: int64

In [67]:
def func(row):
    if row['Pre_Job_Getting_Confidence'] == 'Strongly agree':
        return '7'
    elif row['Pre_Job_Getting_Confidence'] =='Agree':
        return '6' 
    elif row['Pre_Job_Getting_Confidence'] =='Moderately Agree':
        return '5'
    elif row['Pre_Job_Getting_Confidence'] =='Neutral':
        return '4'
    elif row['Pre_Job_Getting_Confidence'] =='Moderately Disagree':
        return '3'
    elif row['Pre_Job_Getting_Confidence'] =='Disagree':
        return '2'
    elif row['Pre_Job_Getting_Confidence'] =='Strongly Disagree':
        return '1'
    else:
        return 'other'

result['NewPREJobGetting'] = result.apply(func, axis=1)

In [68]:
result['NewPREJobGetting'].value_counts()

6    57
5    51
7    41
4    34
3    12
1     4
2     3
Name: NewPREJobGetting, dtype: int64

In [69]:
def func(row):
    if row['Pre_Successful_Job_Search_Certainty'] == 'Strongly agree':
        return '7'
    elif row['Pre_Successful_Job_Search_Certainty'] =='Agree':
        return '6' 
    elif row['Pre_Successful_Job_Search_Certainty'] =='Moderately Agree':
        return '5'
    elif row['Pre_Successful_Job_Search_Certainty'] =='Neutral':
        return '4'
    elif row['Pre_Successful_Job_Search_Certainty'] =='Moderately Disagree':
        return '3'
    elif row['Pre_Successful_Job_Search_Certainty'] =='Disagree':
        return '2'
    elif row['Pre_Successful_Job_Search_Certainty'] =='Strongly Disagree':
        return '1'
    else:
        return 'other'

result['NewPREJobSuccess'] = result.apply(func, axis=1)

In [70]:
result['NewPREJobSuccess'].value_counts()

6    52
4    52
5    48
7    29
3    11
1     5
2     5
Name: NewPREJobSuccess, dtype: int64

## Creating Likert Column

In [71]:
# IF/ELSE FOR POST SURVEY STATEMENTS

def func(row):
    if row['Post_Job_Ability_Certainty'] == 'Strongly agree':
        return '7'
    elif row['Post_Job_Ability_Certainty'] =='Agree':
        return '6' 
    elif row['Post_Job_Ability_Certainty'] =='Moderately Agree':
        return '5'
    elif row['Post_Job_Ability_Certainty'] =='Neutral':
        return '4'
    elif row['Post_Job_Ability_Certainty'] =='Moderately Disagree':
        return '3'
    elif row['Post_Job_Ability_Certainty'] =='Disagree':
        return '2'
    elif row['Post_Job_Ability_Certainty'] =='Strongly Disagree':
        return '1'
    else:
        return 'other'

result['NewPOSTJobAbility'] = result.apply(func, axis=1)

In [72]:
result['NewPOSTJobAbility'].value_counts()

6    66
7    56
5    47
4    20
3     9
1     3
2     1
Name: NewPOSTJobAbility, dtype: int64

In [73]:
def func(row):
    if row['Post_Job_Getting_Confidence'] == 'Strongly agree':
        return '7'
    elif row['Post_Job_Getting_Confidence'] =='Agree':
        return '6' 
    elif row['Post_Job_Getting_Confidence'] =='Moderately Agree':
        return '5'
    elif row['Post_Job_Getting_Confidence'] =='Neutral':
        return '4'
    elif row['Post_Job_Getting_Confidence'] =='Moderately Disagree':
        return '3'
    elif row['Post_Job_Getting_Confidence'] =='Disagree':
        return '2'
    elif row['Post_Job_Getting_Confidence'] =='Strongly Disagree':
        return '1'
    else:
        return 'other'

result['NewPOSTJobGetting'] = result.apply(func, axis=1)

In [74]:
result['NewPOSTJobGetting'].value_counts()

7    83
6    61
5    34
4    16
3     6
1     1
2     1
Name: NewPOSTJobGetting, dtype: int64

In [75]:
def func(row):
    if row['Post_Successful_Job_Search_Certainty'] == 'Strongly agree':
        return '7'
    elif row['Post_Successful_Job_Search_Certainty'] =='Agree':
        return '6' 
    elif row['Post_Successful_Job_Search_Certainty'] =='Moderately Agree':
        return '5'
    elif row['Post_Successful_Job_Search_Certainty'] =='Neutral':
        return '4'
    elif row['Post_Successful_Job_Search_Certainty'] =='Moderately Disagree':
        return '3'
    elif row['Post_Successful_Job_Search_Certainty'] =='Disagree':
        return '2'
    elif row['Post_Successful_Job_Search_Certainty'] =='Strongly Disagree':
        return '1'
    else:
        return 'other'

result['NewPOSTJobSuccess'] = result.apply(func, axis=1)

In [76]:
result['NewPOSTJobSuccess'].value_counts()

7    77
6    65
5    28
4    24
3     6
1     1
2     1
Name: NewPOSTJobSuccess, dtype: int64

## Compare Pre- and Post-Accelerator Survey Columns to Determine Any Changes After Braven

In [77]:
def func(row):
    if row['NewPREJobAbility'] > row['NewPOSTJobAbility']:
        return 'Decrease'
    elif row['NewPREJobAbility'] < row['NewPOSTJobAbility']:
        return 'Increase' 
    else:
        return 'No Change'

result['ChangeJobAbility'] = result.apply(func, axis=1)

In [78]:
def func(row):
    if row['NewPREJobGetting'] > row['NewPOSTJobGetting']:
        return 'Decrease'
    elif row['NewPREJobGetting'] < row['NewPOSTJobGetting']:
        return 'Increase' 
    else:
        return 'No Change'

result['ChangeJobGetting'] = result.apply(func, axis=1)

In [79]:
def func(row):
    if row['NewPREJobSuccess'] > row['NewPOSTJobSuccess']:
        return 'Decrease'
    elif row['NewPREJobSuccess'] < row['NewPOSTJobSuccess']:
        return 'Increase' 
    else:
        return 'No Change'

result['ChangeJobSuccess'] = result.apply(func, axis=1)

In [80]:
result['ChangeJobSuccess'].value_counts()

Increase     117
No Change     56
Decrease      29
Name: ChangeJobSuccess, dtype: int64

In [81]:
result['ChangeJobAbility'].value_counts()

Increase     116
No Change     53
Decrease      33
Name: ChangeJobAbility, dtype: int64

In [82]:
result['ChangeJobGetting'].value_counts()

Increase     103
No Change     65
Decrease      34
Name: ChangeJobGetting, dtype: int64

In [83]:
# Job Ability - Pre Survey
result['Pre_Job_Ability_Certainty'].value_counts()

Agree                  54
Moderately Agree       52
Neutral                43
Strongly agree         20
Moderately Disagree    17
Disagree               12
Strongly Disagree       4
Name: Pre_Job_Ability_Certainty, dtype: int64

In [84]:
# Job Ability - Post Survey
result['Post_Job_Ability_Certainty'].value_counts()

Agree                  66
Strongly agree         56
Moderately Agree       47
Neutral                20
Moderately Disagree     9
Strongly Disagree       3
Disagree                1
Name: Post_Job_Ability_Certainty, dtype: int64

In [85]:
# Getting a Job - Pre Survey
result['Pre_Job_Getting_Confidence'].value_counts()

Agree                  57
Moderately Agree       51
Strongly agree         41
Neutral                34
Moderately Disagree    12
Strongly Disagree       4
Disagree                3
Name: Pre_Job_Getting_Confidence, dtype: int64

In [86]:
# Getting a Job - Post Survey
result['Post_Job_Getting_Confidence'].value_counts()

Strongly agree         83
Agree                  61
Moderately Agree       34
Neutral                16
Moderately Disagree     6
Disagree                1
Strongly Disagree       1
Name: Post_Job_Getting_Confidence, dtype: int64

In [87]:
# Job Success - Pre Survey
result['Pre_Successful_Job_Search_Certainty'].value_counts()

Neutral                52
Agree                  52
Moderately Agree       48
Strongly agree         29
Moderately Disagree    11
Disagree                5
Strongly Disagree       5
Name: Pre_Successful_Job_Search_Certainty, dtype: int64

In [88]:
# Job Success - Post Survey
result['Post_Successful_Job_Search_Certainty'].value_counts()

Strongly agree         77
Agree                  65
Moderately Agree       28
Neutral                24
Moderately Disagree     6
Disagree                1
Strongly Disagree       1
Name: Post_Successful_Job_Search_Certainty, dtype: int64

## Calculating NPS Score

In [89]:
def func(row):
    if row['Likelihood_of_Recommendation'] >= 9:
        return 'Promoters'
    elif row['Likelihood_of_Recommendation'] == 8:
        return 'Passives' 
    elif row['Likelihood_of_Recommendation'] == 7:
        return 'Passives' 
    elif row['Likelihood_of_Recommendation'] <= 6:
        return 'Detractors' 
    else:
        return 'Error'

result['NPS_Count'] = result.apply(func, axis=1)

In [90]:
result['NPS_Count'].value_counts()

Promoters     122
Passives       51
Detractors     29
Name: NPS_Count, dtype: int64

In [91]:
#NPS Score Calculation - SUBTRACT PERCENTAGE OF DETRACTORS FROM PROMOTERS 

#Promoters = 60.4%
#Passives = 24.2%
#Detractors = 14.4%

# Promoters - Detractors = 46

In [92]:
#Unique Values for Each Column

# for col, values in result.iteritems():
#     num_uniques = values.nunique()
#     print ('{name}: {num_unique}'.format(name=col, num_unique=num_uniques))
#     print (values.unique())
#     print ('\n')

In [93]:
result['Site'].value_counts()

SJSU    140
RU-N     62
Name: Site, dtype: int64

## Coursework Time & Complexity Frequency/Distribution

In [94]:
Frequency22 = result.Valuable_Professional_PersonalDevelopment_Experience.value_counts().rename_axis('Scale').reset_index(name='Frequency')
Frequency22['Percentage of Occurrence'] = (Frequency22['Frequency'] / 
                  Frequency22['Frequency'].sum()) * 100
Frequency22.round(1)

                 Scale  Frequency  Percentage of Occurrence
0       Strongly agree         78                      38.6
1                Agree         55                      27.2
2     Moderately agree         37                      18.3
3              Neutral         13                       6.4
4             Disagree          9                       4.5
5    Strongly Disagree          6                       3.0
6  Moderately disagree          4                       2.0

In [95]:
Frequency21 = result.Braven_More_Than_a_Course_Perception.value_counts().rename_axis('Scale').reset_index(name='Frequency')
Frequency21['Percentage of Occurrence'] = (Frequency21['Frequency'] / 
                  Frequency21['Frequency'].sum()) * 100
Frequency21.round(1)

                        Scale  Frequency  Percentage of Occurrence
0              Strongly agree         71                      35.1
1                       Agree         51                      25.2
2            Moderately agree         37                      18.3
3  Neither agree nor disagree         18                       8.9
4         Moderately disagree         11                       5.4
5                    Disagree          8                       4.0
6           Strongly Disagree          6                       3.0

In [96]:
Frequency20 = result.Mentor_Goals_Dreams_Encouragement.value_counts().rename_axis('Scale').reset_index(name='Frequency')
Frequency20['Percentage of Occurrence'] = (Frequency20['Frequency'] / 
                  Frequency20['Frequency'].sum()) * 100
Frequency20.round(1)

                        Scale  Frequency  Percentage of Occurrence
0              Strongly agree         81                      40.1
1                       Agree         57                      28.2
2            Moderately agree         28                      13.9
3  Neither agree nor disagree         20                       9.9
4                    Disagree          8                       4.0
5         Moderately disagree          4                       2.0
6           Strongly Disagree          4                       2.0

In [97]:
Frequency19 = result.Likelihood_of_Recommendation.value_counts().rename_axis('Scale').reset_index(name='Frequency')
Frequency19['Percentage of Occurrence'] = (Frequency19['Frequency'] / 
                  Frequency19['Frequency'].sum()) * 100
Frequency19.round(1)

    Scale  Frequency  Percentage of Occurrence
0      10         94                      46.5
1       8         30                      14.9
2       9         28                      13.9
3       7         21                      10.4
4       5          8                       4.0
5       6          6                       3.0
6       4          4                       2.0
7       2          4                       2.0
8       0          4                       2.0
9       1          2                       1.0
10      3          1                       0.5

In [98]:
Frequency18 = result.Braven_Coursework_Complexity.value_counts().rename_axis('Coursework Challenge/Complexity').reset_index(name='Frequency')
Frequency18['Percentage of Occurrence'] = (Frequency18['Frequency'] / 
                  Frequency18['Frequency'].sum()) * 100
Frequency18.round(1)

                Coursework Challenge/Complexity  Frequency  Percentage of Occurrence
0               About the same as other courses         63                      31.2
1  Somewhat more challenging than other courses         48                      23.8
2  Somewhat less challenging than other courses         44                      21.8
3       Far less challenging than other courses         35                      17.3
4       Far more challenging than other courses         12                       5.9

In [99]:
Frequency17 = result.Braven_Coursework_Time_Completion.value_counts().rename_axis('Coursework Time Completion').reset_index(name='Frequency')
Frequency17['Percentage of Occurrence'] = (Frequency17['Frequency'] / 
                  Frequency17['Frequency'].sum()) * 100
Frequency17.round(1)

         Coursework Time Completion  Frequency  Percentage of Occurrence
0  Somewhat more than other courses         61                      30.2
1   About the same as other courses         56                      27.7
2  Somewhat less than other courses         38                      18.8
3       Far more than other courses         34                      16.8
4       Far less than other courses         13                       6.4

In [100]:
result.to_csv('ResultData.csv')

## Analyzing Detractors

In [101]:
detractors = result[result['NPS_Count']=='Detractors']

In [102]:
detractors.ChangeJobAbility.value_counts()

Increase     13
Decrease      9
No Change     7
Name: ChangeJobAbility, dtype: int64

In [103]:
detractors.ChangeJobGetting.value_counts()

Decrease     10
Increase     10
No Change     9
Name: ChangeJobGetting, dtype: int64

In [104]:
detractors.ChangeJobSuccess.value_counts()

Increase     11
No Change    10
Decrease      8
Name: ChangeJobSuccess, dtype: int64

In [105]:
detractors.Mentor_Goals_Dreams_Encouragement.value_counts()

Neither agree nor disagree    7
Agree                         7
Moderately agree              7
Strongly agree                4
Strongly Disagree             2
Disagree                      2
Name: Mentor_Goals_Dreams_Encouragement, dtype: int64

In [106]:
detractors.Braven_Coursework_Complexity.value_counts()

About the same as other courses                 8
Somewhat more challenging than other courses    8
Somewhat less challenging than other courses    5
Far less challenging than other courses         4
Far more challenging than other courses         4
Name: Braven_Coursework_Complexity, dtype: int64

In [107]:
detractors.College_Major.value_counts()

Sociology                                 4
Marketing                                 3
Other [please specify]                    2
Finance                                   2
Economics                                 2
Accounting                                2
Criminal Justice                          2
Psychology                                2
Management Information Systems            1
Nursing                                   1
General Business                          1
Business Management And Administration    1
Computer Science                          1
Neuroscience                              1
Visual And Performing Arts                1
Undeclared                                1
Applied Mathematics                       1
Communications                            1
Name: College_Major, dtype: int64

In [108]:
detractors.describe()

               ID  Duration_(in_seconds)  Pre_Extracirrcular_Organizations  Pre_Leadership_Positions  Pre_Internships_CoOps          Pre_SurveyDuration  Post_Duration_(in_seconds)  Likelihood_of_Recommendation        Post_SurveyDuration
count   29.000000           2.900000e+01                         29.000000                 29.000000              29.000000                          29                   29.000000                     29.000000                         29
mean   135.586207           4.477548e+05                          1.103448                  0.310345               0.413793   5 days 04:20:31.310344827                 5157.172414                      3.620690  0 days 01:25:57.586206896
std     79.552102           1.458275e+06                          1.611229                  0.541390               0.945563  16 days 20:53:36.681366712                14198.077134                      2.128276  0 days 03:56:37.965313274
min     10.000000           5.000000e+02                          0.000000                  0.000000               0.000000             0 days 00:08:20                  409.000000                      0.000000            0 days 00:06:49
25%     70.000000           9.410000e+02                          0.000000                  0.000000               0.000000             0 days 00:15:42                  791.000000                      2.000000            0 days 00:13:12
50%    108.000000           4.461000e+03                          1.000000                  0.000000               0.000000             0 days 01:14:22                  944.000000                      4.000000            0 days 00:15:45
75%    198.000000           4.980100e+05                          1.000000                  1.000000               0.000000             5 days 18:20:11                 1920.000000                      5.000000            0 days 00:32:01
max    281.000000           7.918386e+06                          7.000000                  2.000000               3.000000            91 days 14:33:07                67695.000000                      6.000000            0 days 18:48:15

In [109]:
result["Duration_(in_seconds)"].describe().apply(lambda x: format(x, 'f'))

count        202.000000
mean      278317.133663
std       853339.274969
min          321.000000
25%          995.000000
50%         7055.500000
75%       438385.500000
max      8458635.000000
Name: Duration_(in_seconds), dtype: object

## Survey Completion - Time Evaluation

In [110]:
# First Pre Survey Started/Taken August 2019
result.Pre_Start_Date.min()

Timestamp('2019-08-24 13:25:56')

In [111]:
# Last Pre Survey Started/Taken 
result.Pre_Start_Date.max()

Timestamp('2019-09-24 15:51:03')

In [112]:
# First Pre Survey Completed/Submitted
result.Pre_End_Date.min()

Timestamp('2019-08-24 14:23:17')

In [113]:
# Last Pre Survey Completed/Submitted December 2019
result.Pre_End_Date.max()

Timestamp('2019-12-11 14:15:42')

In [114]:
# First Post Survey Started/Taken December 10th 2019
result.Post_Start_Date.min()

Timestamp('2019-12-10 18:01:41')

In [115]:
# Last Post Survey Started/Taken 
result.Post_Start_Date.max()

Timestamp('2019-12-20 11:10:33')

In [116]:
# First Post Survey Completed/Submitted
result.Post_End_Date.min()

Timestamp('2019-12-10 18:08:54')

In [117]:
# lAST Post Survey Completed/Submitted December 20th 2019
result.Post_End_Date.max()

Timestamp('2019-12-20 12:30:33')